
@{
    ViewBag.Title = "SendingPassword";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yinka Enoch Adedokun">
    <link rel="stylesheet" href="~/Content/Login.css">
</head>


<body>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-12 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Where to Send Credentials?</h2>
                    </div>
                    <div class="row">
                        <form method="post" action="" control="" class="form-group">
                            <div class="row">
                                <input type="radio" id="mobile" name="fav_language" value="mobile">
                                <label for="mobile">Mobile</label><br>
                                <input type="radio" id="email" name="fav_language" value="email">
                                <label for="email">Email</label><br>
                            </div>
                            
                            <div class="row">
                                <input type="submit" value="Submit" class="btn">
                                @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn" })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
